@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img.jpg);
}

.wrapper{
    width: 400px;
    background-color: transparent;
    color: aliceblue;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px rgba(88, 66, 66, 0.2);
}

.wrapper h1{
    font-size: 37;
    text-align: center;
}

.wrapper .inputbox{
    position: relative;
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

.wrapper .inputbox input{
    width: 100%;
    height: 50;
    padding: 11;
    background: transparent;
    border-radius: 2rem;                           
    border: 2px solid rgb(255, 255, 255, .4);
    border-radius: 40px;
    padding-left: 23px;
    font-size: 16px;
    color: #fff;
}

.wrapper .inputbox input::placeholder{
    color: #fff;
}

.inputbox i{
    position: absolute;
    right: 20px;
    font-size: 20;
    top: 50%;
    transform: translateY(-50%);

}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: -15px 0 15px;
    padding-top: 9px;
    font-weight: 400;
}

.wrapper .remember-forgot input label{
    accent-color: #fff;
    margin-right: 2px;
}

.wrapper .remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
    color: grey;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(133, 113, 113);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.registerlink{
    text-align: center;
    font-size: 14px;
    padding: 1rem;
}

.registerlink a{
    color: #fff;
    text-decoration: none;
}

.registerlink a:hover{
    color: grey;
    text-decoration: underline;
}

.registerlink p a{
    font-weight: 600;
}
